# Build artifacts
/build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
Testing/

# IDE/editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# ln
xsql_cli

# data files
data/*
demo/*
demo_tests.txt
notes/*

# executable links
xsql

# test projects
flex_test/*