# Build artifacts
/build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
Testing/

# IDE/editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# ln
xsql_cli

# data files
data/*
demo/*
demo_tests.txt
notes/*

# test projects
flex_test/*

# python env
xsql_venv/*
.venv/
downloads/
!python/
!python/xsql/
!python/xsql/**
python/xsql/env/*
python/xsql/build/*
python/xsql/dist/*
python/xsql/__pycache__/*
python/xsql/_core.cpython-*
python/xsql.egg-info/*
python/tests/__pycache__/*

# local tests
local_tests/*